@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600;700&display=swap");

:root {
  --inter: "Inter", sans-serif;
  --orange: #db7338;
  --paleOrange: #f8d0b9;
  --white: #fcf9f8;
  --gray: #cacaca;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: var(--inter);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 10%;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  font-weight: 600;
}

.logo {
  max-width: 20%;
}

.config_logo,
.user_logo {
  width: 30px;
}

.notificacion_logo {
  width: 50px;
}

.nav_element {
  text-decoration: none;
  color: var(--darkGray);
  font-size: 1rem;
}

.nav_element:hover {
  color: var(--orange);
  text-decoration: underline;
  transition: 0.3s;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.ir_atras {
  padding: 20px;
  height: 5%;
}

.atrasBtn {
  width: 30px;
}

.main_content {
  display: grid;
  place-items: center;
  height: 100%;
}

.container {
  min-width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 3rem;
  border-radius: 1rem;
}

.container h2 {
  text-align: center;
}

.form_criterios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.form__getter {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  gap: 0.5rem;
  width: 100%;
}

.form__getter input,
.form__getter select {
  height: 40px;
  max-width: 50%;
  border-radius: 5px;
  border: #cacaca 1px solid;
  padding: 10px;
}

.btn_buscar {
  align-self: center;
  background-color: var(--orange);
  color: var(--white);
  padding: 10px 80px;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
